[push]
	default = simple

[core]
  autoctrl = input
  whitespace = space-before-tab, trailing-space
		excludesfile = ~/.gitignore

[pull]
	rebase = true

[credential]
	helper = osxkeychain

[color]
	ui = true

#.gitconfig selection
[include]
	path = ~/.gitconfig_personal
[includeIf "gitdir:~/imbyte-projects/dpg/"]
	path = ~/.gitconfig_dpg
[includeIf "gitdir:~/imbyte-projects/personal/"]
	path = ~/.gitconfig_personal
